.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .carousel {
    background-color: gray;
    height:500px;
 }

 .car1, .car2, .car3 {
    margin-top: clamp(150px, 40%, 250px);
    margin-left: clamp(10px, 10%, 200px);
    margin-right: clamp(10px, 10%, 200px);
 }

 .car1 div {
    margin-left: clamp(0px, 2%, 100px);
    margin-right: clamp(10px, 20%, 100px);
 }

 .car2 div {
    margin-left: clamp(0px, 2%, 50px);
    margin-right: clamp(10px, 20%, 75px);
 }

 .car3 div {
    margin-right: clamp(0px, 15%, 300px);
 }

 .headp {
    width: 350px;
 }

 .headers {
    margin-left: clamp(150px, 20%, 350px);
    margin-right: clamp(150px, 20%, 350px);
    margin-top: 50px;
 }

 .allh {
    margin-bottom: 40px;
 }

 .featurette {
    margin-top: 100px;
 }

 .fhead {
    padding-bottom: 100px;
 }

h1, h4 {
    max-width: 650px;
}
 

.fborder {
    border-bottom: 1px lightgrey solid;
    margin-left: clamp(2px, 15%, 300px);
    margin-right: clamp(2px, 15%, 300px);
}

.fbordtop {
    border-top: 1px lightgrey solid;
    padding-top: 150px;
}

.ftext {
    margin-top: clamp(10px, 10%, 75px);
    margin-bottom: clamp(2px, 1%, 10px);
}

.bottomtext {
    margin-top: 50px;
    margin-bottom: 50px;
}

.d-flex div a {
    margin-left: 20px;
}

.form-control {
    background-color: white;
    color: gray;
}

.navbar-brand {
    margin-left: 20px;
}

.searchbox {
    margin-right: 20px;
}

@media (max-width: 400) {

}
